<div class="container container-sm">
    <h2 class="text-xs-center">Clientes</h2>
    <p class="text-muted text-xs-center">Listado de clientes <strong><% if params[:status] == 'active' %>activos<% else %>inactivos<% end %></strong></p>
    <br>

    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>#</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Número de documento</th>
                <th>Numero celular</th>
                <th>Dirección</th>
                <th>Campaña</th>
                <th>Ciudad</th>
            </tr>
      </thead>
      <tbody>
        <% if !@client_list.blank? %>
            <% for client in @client_list %>
                <tr>
                    <th scope="row"><%= client.id %></th>
                    <td><a href="<%= client_path(client) %>"><%= client.first_name %></a></td>
                    <td><%= client.last_name %></td>
                    <td><%= client.document_number %></td>
                    <td><%= client.cellphone_number %></td>
                    <td><%= client.address %></td>
                    <td><%= client.campaign %></td>
                    <td><%= client.city %></td>
                </tr>
            <% end %>
        <% else %>
            <tr>
                <td colspan="8" scope="row"><center>No encontramos clientes con los criterios que especificaste.</center></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
