<!DOCTYPE html>
<html>
    <head>
        <title>Andi Asistencia</title>
        <%= csrf_meta_tags %>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <nav class="navbar navbar-fixed-top navbar-dark bg-blue">
            <div class="container">
                <a class="navbar-brand" href="/">Andi Asistencia</a>
            </div>
        </nav>

        <div class="container">
            <% flash.each do |key, value| %>
                <div class="alert alert-info">
                  <%= value %>
                </div>
            <% end %>
        </div>

        <%= yield %>
  </body>
</html>
